$space-cadet: #2b2d42ff;
$cool-gray: #8d99aeff;
$tea-green: #ccd5aeff;
$beige: #e9edc9ff;
$cornsilk: #fefae0ff;
$papaya-whip: #faedcdff;
$buff: #d4a373ff;
$hunter-green: #386641ff;
$asparagus: #6a994eff;